@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor01:#d0f0c7 ;
    --cor02: #39b973;
    --cor03: #19633a;
    --cor04: #073d1f;
    --cor05: #042e17;
   
    --fonte-padrao: arial, Verdana, Helvetica,  sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive; 

}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color:var(--cor01) ;
    text-align: justify;
    font-family: var(--fonte-padrao);
    
}
a.externo::after{
       content: '\00A0\1F517';
}


header{
    background-image: linear-gradient( to bottom, var(--cor02), var(--cor05) );
    color: white;
    width: auto;
    height: 157px;
    padding:7px;
 
}

header > h1{
    font-family:var(--fonte-destaque);
    text-align: center;
    color: white;
    font-weight: normal;
    padding-top: 30px ;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445)
    
}


header p{
 text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
text-align: center;
padding: 15px;

}

nav{
    display: block;
    box-shadow: 0px 7px 9px rgba (0, 0, 0.418);
   
}
nav > a{
    color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    
    
}
nav > a:hover{
    background-color: var(--cor02);
   transition: 0.5s;

}


main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #0000005e
    
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 2em;

}

main  img{
    width: 100%;
}
div.video{
    background-color: var(--cor05);
    margin: 0px -10px 25px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}
div.video > iframe{
      position:absolute;
      top: 5%; 
      left: 5%;
      width: 90%;
      height: 90%;
}

main strong{
    color: var(--cor04);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor02);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
    
}

article > h1{
    font-family: var(--fonte-android);
    color:var(--cor03);
    font-weight: normal;

}
article > h2{
    font-family: var(--fonte-android);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor02), transparent);
     color: var(--cor05);
     font-size: 1.3em;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}
aside h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type:'\2714\00A0';
       list-style-position:inside ;
       columns: 2;
}
footer{
    background-color: var(--cor05);
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 0.8em;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor02);
}
footer a:hover{
    text-decoration: underline;
}